<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="panel scores">
                <div class="score">
                    <h1>Player</h1>
                    <div class="life-bar">
                        <div class="life" :class="{danger: playerHp < 25}" :style="{width: playerHp + '%'}"></div>
                    </div>
                    <div> {{ playerHp }}%  </div>
                </div>
                <div class="score">
                    <h1>Enemy</h1>
                    <div class="life-bar">
                        <div class="life" :class="{danger: enemyHp < 25}" :style="{width: enemyHp + '%'}"></div>
                    </div>
                    <div> {{ enemyHp }}% </div>
                </div>
            </div>
            <div class="panel result" v-if="hasResult">
                <div class="win" v-if="enemyHp == 0">You win!</div>
                <div class="lose" v-else>You lose!</div>
            </div>
            <div class="panel buttons">
                <template v-if="running">
                    <button class="btn attack" @click="attack(false)">Attack</button>
                    <button class="btn special" @click="attack(true)">Special</button>
                    <button class="btn heal">Heal</button>
                    <button class="btn surrender" @click="running = false">Surrender</button>
                </template>
                <button class="btn start" v-else @click="start">Start</button>
            </div>
            <div class="panel logs"></div>
        </div>

        <script src="app.js"></script>
    </body>
</html>
